{
    "rules": {
        "no-path-concat"             : 2,
        "no-implicit-coercion"       : [
            2, { "number"            : true, "string": true }
        ],
        "eqeqeq"                     : 2,
        "no-negated-in-lhs"          : 2,
        "no-with"                    : 2,

        "no-dupe-keys"               : 1,
        "consistent-return"          : 1,
        "no-caller"                  : 1,
        "no-shadow-restricted-names" : 1,
        "no-shadow"                  : 1,
        "no-undef"                   : 1,
        "no-unused-vars"             : 1,

        "no-sync"                    : 1,

        "indent"                     : [2, 4],
        "no-bitwise"                 : 2,
        "no-mixed-spaces-and-tabs"   : [2, "smart-tabs"],
        "no-spaced-func"             : 2,

        "space-before-blocks"        : [1, "always"],
        "space-before-keywords"      : [1, "always"],
        "space-infix-ops"            : 1,
        "no-nested-ternary"          : 1,
        "no-unneeded-ternary"        : 1,
        "no-multiple-empty-lines"    : [1, { "max": 3 }],
        "max-len"                    : [1, 150, 4],
        "max-nested-callbacks"       : [1, 4],
        "max-params"                 : [1, 4],
        "new-parens"                 : 1,
        "lines-around-comment"       : 1,
        "key-spacing"                : [1, { "afterColon": true, "mode": "minimum" }],
        "comma-spacing"              : [1, {"before": false, "after": true}],
        "consistent-this"            : [1, "self"]
    },
    "env": {
        "node" : true
    }
}
